<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Filmoteka</title>
  <link rel="stylesheet" href="/src/css/styles.css" />
</head>
<header class="header__lib">
  <div class="header__content">
    <div class="header__logo">
      <img
        src="/src/images/film-svgrepo-com.svg"
        class="header__img"
        alt="Logo"
      />
      <a class="header__filmoteka">Filmoteka</a>
    </div>
    <nav class="header__nav">
      <ul>
        <li><a class="header__a" href="/src/index.html">HOME</a></li>
        <li>
          <a class="header__a" href="/src/partials/mylibrary.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="library__buttons">
    <button class="library__button">WATCHED</button>
    <button class="library__button">QUEUE</button>
  </div>
</header>
<footer class="footer">
  <div class="footer__text" href="#">All rights reserved</div>
  <div class="footer__text" href="#">Developed by cragherk</div>
</footer>
